<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<div th:if="${not #lists.isEmpty(persons)}" class="container">
    <h1>Persons List</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Form Of Address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${persons} ">
            <td th:text="${person.name}"></td>
            <td th:text="${person.anrede}"></td>
        </tr>
        </tbody>
    </table>
    <h1>Weapons List</h1>
    <p>To do</p>
    <h1>Rooms List</h1>
    <p>To do</p>
</div>

</body>
</html>