<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<form action="#" th:action="@{/}" method="post" th:object="${person}">  
    <select class="form-control" >
        <option
                th:each="person : ${persons}"
                th:value="${person}"
                th:text="${person.name}">
        </option>
        </select>
    <button type="submit">Guess</button>
</form>
<div th:if="${not #lists.isEmpty(persons)}" class="container">
    <h1>Persons List</h1>
    <h1 th:text="${crime.actor}"></h1>
    <h1 th:text="${crime.weapon}"></h1>
    <h1 th:text="${crime.scene}"></h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Form Of Address</th>
            <th scope="col">Feature</th>
            <th scope="col">Age</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person, iterStat : ${persons} ">
            <td th:text="${person.name}"></td>
            <td th:text="${person.anrede}"></td>
            <td th:text="${person.merkmal}"></td>
            <td th:text="${person.alter}"></td>
            <td th:text="${iterStat}"></td>
        </tr>
        </tbody>
    </table>
    <h1>Weapons List</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Length</th>
            <th scope="col">Material</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="weapon : ${weapons} ">
            <td th:text="${weapon.name}"></td>
            <td th:text="${weapon.typ}"></td>
            <td th:text="${weapon.laenge}"></td>
            <td th:text="${weapon.material}"></td>
        </tr>
        </tbody>
    </table>
    <h1>Rooms List</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Length</th>
            <th scope="col">Material</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="weapon : ${weapons} ">
            <td th:text="${weapon.name}"></td>
            <td th:text="${weapon.typ}"></td>
            <td th:text="${weapon.laenge}"></td>
            <td th:text="${weapon.material}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>